<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>screen</key>
	<dict>
		<key>Vertex</key>
		<string>quadPassthrough</string>
		<key>Fragment</key>
		<string>passthrough</string>
	</dict>
	<key>yuv-rgb</key>
	<dict>
		<key>Vertex</key>
		<string>quadInvertY</string>
		<key>Fragment</key>
		<string>yuv2rgb</string>
	</dict>
	<key>blur-x</key>
	<dict>
		<key>Vertex</key>
		<string>quadKernel</string>
		<key>Fragment</key>
		<string>blurXPass</string>
	</dict>
	<key>blur-y</key>
	<dict>
		<key>Vertex</key>
		<string>quadKernel</string>
		<key>Fragment</key>
		<string>blurYPass</string>
	</dict>
	<key>sobel-rgb</key>
	<dict>
		<key>Vertex</key>
		<string>quadScreenKernel</string>
		<key>Fragment</key>
		<string>Sobel</string>
	</dict>
	<key>sobel-bw</key>
	<dict>
		<key>Vertex</key>
		<string>quadKernel</string>
		<key>Fragment</key>
		<string>SobelBW</string>
	</dict>
	<key>sobel-blend</key>
	<dict>
		<key>Vertex</key>
		<string>quadScreenKernel</string>
		<key>Fragment</key>
		<string>SobelBlend</string>
	</dict>
	<key>sobel-composite-bw</key>
	<dict>
		<key>Vertex</key>
		<string>quadScreenKernel</string>
		<key>Fragment</key>
		<string>SobelBWComposite</string>
	</dict>
	<key>sobel-composite-rgb</key>
	<dict>
		<key>Vertex</key>
		<string>quadScreenKernel</string>
		<key>Fragment</key>
		<string>SobelRGBComposite</string>
	</dict>
	<key>canny-composite</key>
	<dict>
		<key>Vertex</key>
		<string>quadScreenKernel</string>
		<key>Fragment</key>
		<string>CannyThresholdComposite</string>
	</dict>
	<key>canny-pre</key>
	<dict>
		<key>Vertex</key>
		<string>quadKernel</string>
		<key>Fragment</key>
		<string>SobelCanny</string>
	</dict>
	<key>canny-inverse</key>
	<dict>
		<key>Vertex</key>
		<string>quadScreenKernel</string>
		<key>Fragment</key>
		<string>CannyThresholdInvert</string>
	</dict>
	<key>canny-mag</key>
	<dict>
		<key>Vertex</key>
		<string>quadKernel</string>
		<key>Fragment</key>
		<string>CannyMag</string>
	</dict>
	<key>canny-threshold</key>
	<dict>
		<key>Vertex</key>
		<string>quadScreenKernel</string>
		<key>Fragment</key>
		<string>CannyThreshold</string>
	</dict>
</dict>
</plist>
